@charset "UTF-8";

body {
    margin: 0px;
    background-image: url(imagens/fundo-madeira.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

#iphone{
    background-image: url(imagens/frame-iphone.png);
    background-size: cover;
    height: 650px;
    width: 320px;
}

iframe{
    margin: 83px 22px;
}
